.selector-for-some-widget {
    box-sizing: content-box;
  }

  .container {
      margin-top: 20px;
      margin-bottom: 20px;
  }
  
/* #background-img {
    
    width: 100%;
    height: 100vh;
    position: relative;
    
}

#background-img:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("./dinner3.jpg");
    background-position: 50%;
    height: 100vh;
    opacity: .3;
    z-index: -1;
}

h1 {
    text-align: center;
    font-size: 60px;
}

#welcome {
    text-align: center;
    font-size: 22px;
    font-weight: bold
}

h2 {
    text-align: center;
}

#locationinput {
    width: 220px;
    height: 26px;
    font-size: 20px;
}

#locationpara {
    text-align: center;
    font-size: 26px;
}

#typeselection {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.pricebuttons {
    width: 120px;
    height: 22px;
    font-size: 18px
}

.continue {
    height: 40px;
    width: 280px;
    font-size: 32px;
}

#para4th {
    text-align: center;
}

#restaurantinfo {
    text-align: left
}

#para3rd {
    text-align: center;
}

#accept {
    width: 160px;
    height: 40px;
    font-size: 28px;
}

#decline {
    width: 160px;
    height: 40px;
    font-size: 28px;
}

img {
    float: left;
}

#acceptdecline {
    text-align: center
} */