body, html {
    background: url(../img/dinner3.jpg) no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 100%;
}

.jumbotron {
    background: none;
    margin: auto; 
    text-align: center;
}

.display-4 {
    color: white;
    font-weight: bolder;
    font-size: 80px;
}

.display-5 {
    color: white;
    font-weight: bolder;
    font-size: 60px;
}

.lead {
    color: blanchedalmond;
    font-size: 35px;
    font-weight: bolder;
}

.my-4 {
    color: rgb(228, 231, 186);
    font-weight: bolder;
    font-size: 25px;
}

#pastsearches {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#back1, #back2, #back3, #decline {
    margin-left: 20px;
}

.categorybuttons {
    margin-top: 20px;  
    margin-left: 20px;
}

p {
    font-size: 2em;
    font-weight: bolder;
    color:white;
}
/* #nameform, #locationform, #listrow1, #prices{
    text-align: center;
    margin: 30px 30px 30px 30px;
    color: black;
} */
/* button{
    background-color: white;
} */
/* #choice{
    text-align: center;
    margin: 200px 30px 30px 30px;
    color: black;
}
#map{
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 50px 30px 30px 600px;
}
#locator1{
    text-align: center;
}
#back5{
    text-align: center;
} */
